---
import SEO from "../../components/layouts/utils/SEO.astro";
import Layout from "../../components/layouts/Layout.astro";

import Section from "../../components/organisms/Section";
import AboutStyle from "./about.module.scss";

// Import demo assets
import AboutPortraitDesktopJPEG from "../../assets/images/pages/about/desktop-about-portrait-one.jpg";
import AboutPortraitDesktopWEBP from "../../assets/images/pages/about/desktop-about-portrait-one.webp";
import AboutPortraitDesktopRetinaJPEG from "../../assets/images/pages/about/desktop-about-portrait-one-retina.jpg";
import AboutPortraitDesktopRetinaWEBP from "../../assets/images/pages/about/desktop-about-portrait-one-retina.webp";
import AboutPortraitDesktopRetinaX2JPEG from  "../../assets/images/pages/about/desktop-about-portrait-one-retina.jpg";
import AboutPortraitDesktopRetinaX2WEBP from "../../assets/images/pages/about/desktop-about-portrait-one-retina.webp";

import AboutPortraitMobileJPEG from "../../assets/images/pages/about/mobile-about-portrait-one.jpg";
import AboutPortraitMobileWEBP from "../../assets/images/pages/about/mobile-about-portrait-one.webp";
import AboutPortraitMobileRetinaJPEG from "../../assets/images/pages/about/mobile-about-portrait-one-retina.jpg";
import AboutPortraitMobileRetinaWEBP from "../../assets/images/pages/about/mobile-about-portrait-one-retina.webp";

import AboutPortraitMobileLazyJPEG from "../../assets/images/pages/about/mobile-about-portrait-one-lazy.jpg";
import AboutPortraitDesktopLazyJPEG from "../../assets/images/pages/about/mobile-about-portrait-one-lazy.jpg";

import AboutPortraitTwoDesktopJPEG from "../../assets/images/pages/about/desktop-about-portrait-two.jpg";
import AboutPortraitTwoDesktopWEBP from "../../assets/images/pages/about/desktop-about-portrait-two.webp";
import AboutPortraitTwoDesktopRetinaJPEG from "../../assets/images/pages/about/desktop-about-portrait-two-retina.jpg";
import AboutPortraitTwoDesktopRetinaWEBP from "../../assets/images/pages/about/desktop-about-portrait-two-retina.webp";
import AboutPortraitTwoDesktopRetinaX2JPEG from "../../assets/images/pages/about/desktop-about-portrait-two-retina.jpg";
import AboutPortraitTwoDesktopRetinaX2WEBP from "../../assets/images/pages/about/desktop-about-portrait-two-retina.webp";

import AboutPortraitTwoMobileJPEG from "../../assets/images/pages/about/mobile-about-portrait-two.jpg";
import AboutPortraitTwoMobileWEBP from "../../assets/images/pages/about/mobile-about-portrait-two.webp";
import AboutPortraitTwoMobileRetinaJPEG from "../../assets/images/pages/about/mobile-about-portrait-two-retina.jpg";
import AboutPortraitTwoMobileRetinaWEBP from "../../assets/images/pages/about/mobile-about-portrait-two-retina.webp";

import AboutPortraitTwoMobileLazyJPEG from "../../assets/images/pages/about/mobile-about-portrait-two-lazy.jpg";
import AboutPortraitTwoDesktopLazyJPEG from "../../assets/images/pages/about/mobile-about-portrait-two-lazy.jpg";

import OG_IMAGE from "@/assets/images/layout/og/OG_IMAGE_ABOUT.jpg";
---

<SEO title="About | Donaël Walter Portfolio | Creative Development, Design, Photography" description="Creative Developer, Brand Designer and Photographer freelance, I help brands shine in the digital world by creating memorable online experiences, refining visual identities, and capturing the essence of each company." ogImage={OG_IMAGE.src}>
    <Layout>
        <main class={AboutStyle.do_about_page}>
            <section class={AboutStyle.do_about_hero}>
                <h1>
                    <span class="do-text-s">About</span> Donaël Walter
                </h1>
                <p>
                    I am Donaël - a skilled brand designer, web developer, and photographer. 
                    With my expertise in visual design and technical proficiency, 
                    I offer comprehensive solutions that are both functional and aesthetically pleasing.
                </p>
            </section>
            <Section
                type="media-h-picture"
                images={{
                    mobile: {
                        jpeg: [
                            AboutPortraitMobileJPEG.src,
                            AboutPortraitMobileRetinaJPEG.src,
                        ],
                        webp: [
                            AboutPortraitMobileWEBP.src,
                            AboutPortraitMobileRetinaWEBP.src,
                        ],
                    },
                    desktop: {
                        jpeg: [
                            AboutPortraitDesktopJPEG.src,
                            AboutPortraitDesktopRetinaJPEG.src,
                            AboutPortraitDesktopRetinaX2JPEG.src,
                        ],
                        webp: [
                            AboutPortraitDesktopWEBP.src,
                            AboutPortraitDesktopRetinaWEBP.src,
                            AboutPortraitDesktopRetinaX2WEBP.src,
                        ],
                    },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={AboutPortraitMobileLazyJPEG.src}
                posterDesktop={AboutPortraitDesktopLazyJPEG.src}
                widthDesktop={1026}
                heightDesktop={577}
                widthMobile={290}
                heightMobile={153}
                lazy={true}
                client:load
            />
            <section class={AboutStyle.do_paragraph}>
                <p>
                    I'm a creative, passionate and sporty spirit, constantly
                    fascinated by the impact of visual elements. From posters to
                    films, music videos and architecture, right down to car
                    logos, I'm captivated by every detail. This passion has led
                    me to design my own creations, investing my energy every day
                    in everything I do. Whether in my work, my sporting
                    activities or my personal projects, I like to push things to
                    the very last detail.
                </p>
            </section>
            <Section
                type="experiences"
                title="Previously"
                description="I’m proud and lucky to have passed through these agencies which taught me a lot and helped me to evolve in relation to my professional project, and the digital world."
                experiences={[
                    {
                        icone: 'vinium',
                        name: "Vinium",
                        description: "Internship - 2019",
                    },
                    {
                        icone: 'opsone',
                        name: "Opsone",
                        description: "Work-Study position - 2019 - 2020",
                    },
                    {
                        icone: 'bihua', 
                        name: 'Bihua', 
                        description: "Lead Creative Developer - 2020 - 2023"
                    }
                ]}
            />
            <Section
                type="experiences"
                title="Awards & Featured"
                description="Yes for know the list is pretty short ... But maybe if we collaborate I'm sure she won't be there long. Winning prizes is one thing, but working on interesting and useful projects is the main thing."
                experiences={[
                    {
                        icone: 'MAXI',
                        name: "Inspiration Feed",
                        description: "Bihua",
                    },
                    {
                        icone: 'CSSDA',
                        name: "Site of the day",
                        description: "Bihua",
                    },
                    {
                        icone: "AWWWARDS", 
                        name: 'Honorable Mention', 
                        description: "Librairie Expérience"
                    }, 
                    {
                        icone: "AWWWARDS", 
                        name: "Honorable Mention", 
                        description: "Menuiserie Perret"
                    }
                ]}
            />
            <Section
                type="media-f-picture"
                images={{
                    mobile: {
                        jpeg: [
                            AboutPortraitTwoMobileJPEG.src,
                            AboutPortraitTwoMobileRetinaJPEG.src,
                        ],
                        webp: [
                            AboutPortraitTwoMobileWEBP.src,
                            AboutPortraitTwoMobileRetinaWEBP.src,
                        ],
                    },
                    desktop: {
                        jpeg: [
                            AboutPortraitTwoDesktopJPEG.src,
                            AboutPortraitTwoDesktopRetinaJPEG.src,
                            AboutPortraitTwoDesktopRetinaX2JPEG.src,
                        ],
                        webp: [
                            AboutPortraitTwoDesktopWEBP.src,
                            AboutPortraitTwoDesktopRetinaWEBP.src,
                            AboutPortraitTwoDesktopRetinaX2WEBP.src,
                        ],
                    },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={AboutPortraitTwoMobileLazyJPEG.src}
                posterDesktop={AboutPortraitTwoDesktopLazyJPEG.src}
                widthDesktop={1026}
                heightDesktop={577}
                widthMobile={290}
                heightMobile={153}
                lazy={true}
                client:load
            />
            <Section type="working-together" client:load/>
        </main> 
    </Layout>
</SEO>
