---
const rootDir = process.cwd();
// Tools 
import imageSize from 'image-size';
//SEO
import SEO from "../../components/layouts/utils/SEO.astro";

//LAYOUT
import Layout from "../../components/layouts/Layout.astro";

// Assets

import DemoPictureDesktopJPEG from "../../assets/images/pages/design-system/demo-picture-desktop.jpg";
import DemoPictureDesktopWEBP from "../../assets/images/pages/design-system/demo-picture-desktop.webp";
import DemoPictureDesktopRetinaJPEG from "../../assets/images/pages/design-system/demo-picture-desktop-retina.jpg";
import DemoPictureDesktopRetinaWEBP from "../../assets/images/pages/design-system/demo-picture-desktop-retina.webp";
import DemoPictureDesktopRetinaX2JPEG from "../../assets/images/pages/design-system/demo-picture-desktop-retina-x2.jpg";
import DemoPictureDesktopRetinaX2WEBP from "../../assets/images/pages/design-system/demo-picture-desktop-retina-x2.webp";

import DemoPictureMobileJPEG from "../../assets/images/pages/design-system/demo-picture-mobile.jpg";
import DemoPictureMobileWEBP from "../../assets/images/pages/design-system/demo-picture-mobile.webp";
import DemoPictureMobileRetinaJPEG from "../../assets/images/pages/design-system/demo-picture-mobile-retina.jpg";
import DemoPictureMobileRetinaWEBP from "../../assets/images/pages/design-system/demo-picture-mobile-retina.webp";

import DemoPictureMobileLazyJPEG from "../../assets/images/pages/design-system/demo-picture-mobile-lazy.jpg";
import DemoPictureDesktopLazyJPEG from "../../assets/images/pages/design-system/demo-picture-desktop-lazy.jpg";

// Atoms 
import Logo from "../../components/atoms/Logo/index.";
import Tag from "../../components/atoms/Tag/index.";
import Text from "../../components/atoms/Text/index.";

//Load Images Data 
let DemoPictureDesktopJPEG_DATA = imageSize(rootDir + '/' + DemoPictureDesktopJPEG)
DemoPictureDesktopJPEG_DATA = {...DemoPictureDesktopJPEG_DATA, src: DemoPictureDesktopJPEG};
let DemoPictureMobileJPEG_DATA = imageSize(rootDir + '/' + DemoPictureMobileJPEG)
DemoPictureMobileJPEG_DATA = {...DemoPictureMobileJPEG_DATA, src: DemoPictureMobileJPEG};

// Organisms
import Section from "../../components/organisms/Section";
import { DoublePicture } from "../../components/organisms/Section/slices/Media";
---
<SEO>
    <Layout>
        <main>
            <Text type="h1">Design system</Text>
            <hr />
            <div>
              <Text type="h2">Atoms</Text>
              <br />
              <br />
              <Logo type="header" />
              <Tag type={null}>Ceci est un tag</Tag>
              <Tag type="discret">Ceci est un tag discret</Tag>
              {/* <Picture
                images={{
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={DemoPictureMobileLazyJPEG}
                posterDesktop={DemoPictureDesktopLazyJPEG}
                widthDesktop={DemoPictureDesktopJPEG_DATA.width}
                heightDesktop={DemoPictureDesktopJPEG_DATA.height}
                widthMobile={DemoPictureMobileJPEG_DATA.width}
                heightMobile={DemoPictureMobileJPEG_DATA.height}
                lazy={true}
              />
              <Video
                url={"/videos/pages/design-system/demo-video.mp4"}
                poster={DemoPoster}
                width={1920}
                height={1080}
                lazy={true}
              /> */}
            </div>
            <div>
              <Text type="h2">Molecules</Text>
            </div>
            <div>
              <Text type="h2">Organisms</Text>
              <br />
              <br />
              <Section
                type="media-h-picture"
                images={{
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={DemoPictureMobileLazyJPEG}
                posterDesktop={DemoPictureDesktopLazyJPEG}
                widthDesktop={DemoPictureDesktopJPEG_DATA.width}
                heightDesktop={DemoPictureDesktopJPEG_DATA.height}
                widthMobile={DemoPictureMobileJPEG_DATA.width}
                heightMobile={DemoPictureMobileJPEG_DATA.height}
                lazy={true}
                client:load
              />
              <Section
                type="media-b-picture"
                images={{
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={DemoPictureMobileLazyJPEG}
                posterDesktop={DemoPictureDesktopLazyJPEG}
                widthDesktop={DemoPictureDesktopJPEG_DATA.width}
                heightDesktop={DemoPictureDesktopJPEG_DATA.height}
                widthMobile={DemoPictureMobileJPEG_DATA.width}
                heightMobile={DemoPictureMobileJPEG_DATA.height}
                lazy={true}
              />
                      <Section
                type="media-f-picture"
                images={{
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={DemoPictureMobileLazyJPEG}
                posterDesktop={DemoPictureDesktopLazyJPEG}
                widthDesktop={DemoPictureDesktopJPEG_DATA.width}
                heightDesktop={DemoPictureDesktopJPEG_DATA.height}
                widthMobile={DemoPictureMobileJPEG_DATA.width}
                heightMobile={DemoPictureMobileJPEG_DATA.height}
                lazy={true}
              />
              <Section type="media-g-picture" pictures={[{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }, {
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }, {
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }]}/>
              <Section type="media-g-picture" pictures={[{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }, {
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              },]}/>
              <Section type="media-g-picture" pictures={[{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              },]}/>
              <DoublePicture pictureLeft={{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }} pictureRight={{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }} up="left"/>
                     <DoublePicture pictureLeft={{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }} pictureRight={{
                images: {
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                },
                alt: "Ceci est le texte alternatif par défaut",
                posterMobile: DemoPictureMobileLazyJPEG,
                posterDesktop: DemoPictureDesktopLazyJPEG,
                widthDesktop: DemoPictureDesktopJPEG_DATA.width,
                widthMobile: DemoPictureMobileJPEG_DATA.width,
                heightDesktop: DemoPictureDesktopJPEG_DATA.height,
                heightMobile: DemoPictureMobileJPEG_DATA.height,
                lazy: true
              }} up="right"/>
              <br />
              <br />
              <Section type="text-project-hero"  images={{
                  mobile: {
                    jpeg: [
                      DemoPictureMobileJPEG,
                      DemoPictureMobileRetinaJPEG,
                    ],
                    webp: [
                      DemoPictureMobileWEBP,
                      DemoPictureMobileRetinaWEBP,
                    ],
                  },
                  desktop: {
                    jpeg: [
                      DemoPictureDesktopJPEG,
                      DemoPictureDesktopRetinaJPEG,
                      DemoPictureDesktopRetinaX2JPEG,
                    ],
                    webp: [
                      DemoPictureDesktopWEBP,
                      DemoPictureDesktopRetinaWEBP,
                      DemoPictureDesktopRetinaX2WEBP,
                    ],
                  },
                }}
                alt="Ceci est le texte alternatif par défaut"
                posterMobile={DemoPictureMobileLazyJPEG}
                posterDesktop={DemoPictureDesktopLazyJPEG}
                widthDesktop={DemoPictureDesktopJPEG_DATA.width}
                heightDesktop={DemoPictureDesktopJPEG_DATA.height}
                widthMobile={DemoPictureMobileJPEG_DATA.width}
                heightMobile={DemoPictureMobileJPEG_DATA.height}
                lazy={true} description="Ceci est une description test" tags={["Noa", "Narjesse", "Lucie", "Pamela", "Marion", "Jade", "Yassmine"]}/>
            </div>
            <div>
              <Text type="h2">Organisms</Text>
            </div>
            <hr />
            <div>
              <Text type="h2">Typographies</Text>
              <hr />
              <br />
              <Text type="h3">Ceci est un titre de troisième niveau</Text>
              <Text type="p">Ceci est un paragraph</Text>
              <Text type="p" size="s">
                ceci est un paragraph de petite tailles
              </Text>
              <p></p>
            </div>
          </main>
    </Layout>
</SEO>
