---
import defaultOgImage from '../../../assets/images/layout/og/defaultOgImage.jpg';
const { title, lang, description, ogTitle, ogDescription, ogImage, keywords} = Astro.props;
---
<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <!-- RS -->
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta
      property="og:image"
      content={ogImage ? ogImage : defaultOgImage}
    />
    <meta property="twitter:card" content={ogImage ? ogImage : defaultOgImage}>
    <meta property="twitter:title" content={ogTitle} />
    <meta property="twitter:description" content={ogDescription} />
    <meta
      property="twitter:image"
      content={ogImage ? ogImage : defaultOgImage}
    />
  </head>
  <slot/>
</html>